doctype
html
  head
    title Esspunkt60
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/custom.css')
    link(rel='stylesheet', href='/css/bootstrap-clockpicker.min.css')
    script(src='/js/jquery2.2.4.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/bootstrap-editable.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/socket.io-file-client.js')
    script(src='/js/bootstrap-clockpicker.min.js')
    script(src='/js/notify.min.js')
    script(src='/js/fingerprint2.min.js')
    script(src='/js/htmlobj.js')
    script(src='/js/app.js')
  body
  
